@page
@model CEN4020_Website.Pages.LoginRegister.AccessDeniedModel
@{
}
<!--display a message when a user is trying to access unauthorized page-->
<div>
	<h1>Access Denied</h1>
	You don't have the required credentials to access this page.
</div>