@page
@model CEN4020_Website.Pages.LoginRegister.ForgotPasswordModel
@{
}
<!-- password retrieval page-->
<style>
    .button {
        border: none;
        color: white;
        padding: 2px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 250px;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button1 {
        background-color: white; 
        color: black; 
        border-radius: 12px;
        border: 2px solid #4CAF50;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
<div class="container border" style="padding:20px; width:50%">
    <form method="post">
        <div class="FormBox">
            <h2>Retrieve Forgotten Password</h2>
            <hr>
            <br>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form--group row" style="margin-bottom:10px">
                <div class="col-sm-12">
                    <input placeholder="Email Address" type="text" asp-for="ForgotPasswordInfo.Email" maxlength="100" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="ForgotPasswordInfo.Email"></span>
            </div>
            <div>
                <input class="button button1" type="submit" value="Submit">
            </div>
        </div>
      </form>
</div>