@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to CPMS</h1>
    <div class="imgbox">
        <img class="center-fit" src="~/review.jpg"  />
    </div>
</div>
