@page
@model CEN4020_Website.Pages.Reports.IndexModel
@{
}


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Generate Reports</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="" class="btn btn-primary">
				<i class="bi bi-pencil-square"></i> &nbsp;Generate New Report
			</a>
		</div>
	</div>

</div>