@using System.Security.Claims
@if (User.HasClaim("PapersChair", "Admin")) 
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-page="/ListOfAuth/Index">Authors</a>
    </li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-page="/Reviewers/Index">Reviewers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Papers/Index">Papers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Reviews/Index">Reviews</a>
    </li>
}
else if (User.HasClaim("UserAuthor", "Author"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Papers/Index">Papers</a>
    </li>
}
else if (User.HasClaim("UserReviewer", "Reviewer"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Reviews/Index">Reviews</a>
    </li>
}