@using System.Security.Claims
@if (User.Identity.IsAuthenticated) 
{
	<form method="post" style="color:cornsilk" class="form-inline" asp-page="/LoginRegister/Logout">
		Welcome @User.Identity.Name
		<button type="submit" class="btn btn-primary">Logout</button>
		@if (User.HasClaim("PapersChair", "Admin"))
		{
			<a class="btn btn-primary" asp-page="/LoginRegister/UserSetting">
				<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
		else @if (User.HasClaim("UserAuthor", "Author")) {
			<a class="btn btn-primary" asp-page="/LoginRegister/UserSettingAuthor" asp-route-id="@User.FindFirst("UserId").Value">
				<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
		else @if (User.HasClaim("UserReviewer", "Reviewer")) {
			<a class="btn btn-primary" asp-page="/LoginRegister/UserSettingReviewer" asp-route-id="@User.FindFirst("UserId").Value">
				<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
	</form>
}
else
{
	<a class="btn btn-primary" asp-page="/LoginRegister/Login">Login</a>
}